{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div id="signup">
        <div class="shadow-wrap" >
            <div class="form-wrap">
             <h3>Signup </h3>
           <form method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Submit</button>
           </form>
           <a class="signup-link" href="{% url "loginSignup:login" %}">Login</a>
           </div>
        </div>
    </div>
</body>
</html>