{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.min.js"></script>

</head>
<body>
    <div id="navbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarButtonsExample" 
              aria-expanded="false" >
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img id="logo" src="{% static 'images/logo2.png' %}" width="100" height="50" />
              </a>
              <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}"><b>BullsEye Exchange</b></a>
                  </li>
                </ul>
                <div class="d-flex align-items-center ms-auto">
                  <button id="button" onclick="goToOrder()" class="btn btn-default px-3 me-2" >
                    <a href="{% url 'order' %}">Orders</a>
                  </button>
                  <a class="signup-link" href="{% url "loginSignup:login" %}">
                    <button id="button" class="btn btn-default px-3 me-2">
                      Logout
                    </button>
                  </a>
                  <button type="button" class="btn btn-primary me-3">
                    {{ user.username }}
                  </button>
                  <a
                    class="btn btn-subtle px-3"
                    href="https://github.com/mdbootstrap/mdb-ui-kit"
                    role="button"
                    ><i class="fab fa-github"></i
                  ></a>
                </div>   
              </div>
            </div>
          </nav>
    </div>
    <div id="box1">
        <div id="sidebar">
          <div id="addcurrency">
            <input type="text" id="addcurrency_search" placeholder="Add Currency">
            <button id="add_btn" type="button" class="btn btn-info">ADD</button>
          </div>
          <div id="currency" onclick="subscribeToPair('BTCUSDT')">
            <div id="cur_title">BTC/USDT</div>
            <div id="order_btn">
              <button id="btn" type="button" class="btn btn-success" onclick="openModal('BUY','BTCUSDT')">BUY</button>
              <button id="btn" type="button" class="btn btn-danger" onclick="openModal('SELL','BTCUSDT')">SELL</button>
            </div>
          </div>
          <div id="currency" onclick="subscribeToPair('BNBUSDT')">
            <div id="cur_title">BNB/USDT</div>
            <div id="order_btn">
              <button id="btn" type="button" class="btn btn-success" onclick="openModal('BUY','BNBUSDT')">BUY</button>
              <button id="btn" type="button" class="btn btn-danger" onclick="openModal('SELL','BNBUSDT')">SELL</button>
            </div>
          </div>
          <div id="currency" onclick="subscribeToPair('ETHUSDT')">
            <div id="cur_title">ETH/USDT</div>
            <div id="order_btn">
              <button id="btn" type="button" class="btn btn-success" onclick="openModal('BUY','ETHUSDT')">BUY</button>
              <button id="btn" type="button" class="btn btn-danger" onclick="openModal('SELL','ETHUSDT')">SELL</button>
            </div>
          </div>
        </div>
        <div id="container">
          <div id="chart">
            <div id="timeStamp">
              <button id="chart-title" type="button" class="btn btn-primary" style="font-size: 12px; font-weight: bold; height: 25px; width: 150px;"><b>BTCUSDT</b></button>
              <button id="time_btn" type="button"  onclick="timeStampChange('1m')" class="btn btn-primary" style="font-size: 12px; height: 25px; width: 50px;"><b>1m</b></button>
              <button id="time_btn" type="button"  onclick="timeStampChange('5m')" class="btn btn-primary" style="font-size: 12px; height: 25px; width: 50px;"><b>5m</b></button>
              <button id="time_btn" type="button"  onclick="timeStampChange('15m')" class="btn btn-primary" style="font-size: 12px; height: 25px; width: 50px;"><b>15m</b></button>
              <button id="time_btn" type="button"  onclick="timeStampChange('1h')" class="btn btn-primary" style="font-size: 12px; height: 25px; width: 50px;"><b>1hr</b></button>
              <button id="time_btn" type="button"  onclick="timeStampChange('1d')" class="btn btn-primary" style="font-size: 12px; height: 25px; width: 50px;"><b>1d</b></button>
              <button id="time_btn" type="button"  onclick="timeStampChange('1w')" class="btn btn-primary" style="font-size: 12px; height: 25px; width: 50px;"><b>1w</b></button>
              <button id="time_btn" type="button"  onclick="timeStampChange('1M')" class="btn btn-primary" style="font-size: 12px; height: 25px; width: 50px;"><b>1m</b></button>
            </div>
            <div id="tvchart"></div>
          </div>
          <div id="position-dialog">
            <div id="postion-header">
              <div id="pos-header">
                <div id="head-title" class="posi-title"><b>Instrument</b></div>
                <div id="head-quantity" class="posi-title"><b>Quantity</b></div>
                <div id="head-type" class="posi-title"><b>Type</b></div>
                <div id="head-ltp"  class="posi-title"><b>LTP</b></div>
                <div id="head-status" class="posi-title"><b>Status</b></div>
            </div>
            <div id="position-box">
                
          </div>
          </div>
        </div>      
    </div>

    <div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="model-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-pair" id="model-pair">BTCUSDT</h5>
            <h5 class="modal-title" id="model-title">Buy</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="quantity">
              <div style="align-items: center;"><b>Quantity</b></div>
              <input type="text" id="qty" placeholder="Enter Quantity">
            </div>
            <div id="quantity">
              <div style="align-items: center;"><b>Stoploss</b></div>
              <input type="text" id="qty" placeholder="Enter Stoplosss">
            </div>
            <button id="create-order" type="button" class="btn btn-success" onclick="addPosition()">Create</button>
          </div>
        </div>    
      </div>
    </div>
    
</body>
<script src="{% static 'javascript/index.js' %}"></script>

</html>